// Colors
$white: #fff;
$black: #2b3035;
$gray-1: #f1f1f1;
$gray-2: #D1D1D1;
$gray-3: #343a40;
$green: #00897b;
$red: #b56569;

// $dark: $black;
// $primary: $green;

// Font Family
$font-family-base: 'Noto Sans SC', sans-serif;